* {
    padding: 0px;
    margin: 0px;
    min-width: 290px;
}

body {
    background-color: #FFFFFF;
    line-height: 1.5em;
    font-family: 'Open Sans', Arial, sans-serif;
}

header {
    text-align: center;
    font-size: 1.8em;
    margin: 10px;
    padding: 20px 5px;
    position: relative;
}

article {
    display: block;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}

article ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

section header {
    text-align: left;
    padding: 0;
    margin: 0;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

#navbar {
    width: 300px;
    border-color: rgba(0, 22, 22, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 290px;
    height: 100%;
    border-right: rgba(0, 22, 22, 0.4) solid;
}


#navbar ul {
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    width: 100%;
    position: relative;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
    color: #4d4e53;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

@media (min-width: 800px) {
    body {
        min-width: 500px;
    }
}